* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

body {
  background-color: rgb(223, 236, 245);
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
}

input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #888;
  margin-bottom: 10px;
}

button {
  padding: 10PX;
  border-radius: 10px;
  border: 1px solid #888;
  outline: none;
  background: rgb(0, 119, 255);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.5;
}

select {
  padding: 10PX;
  border-radius: 10px;
  border: 1px solid #888;
  outline: none;
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  font-size: 20px;
}